

body {
  font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
  padding-top: 50px;
  min-height: 2000px;
}

.navbar-default {
	font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 400;
	background-color: #f6f6f6;
	text-transform: uppercase;
}

.jumbotron {
	background-color: white;
    margin-bottom: 0px; 
    padding-top: 74px;
}

.meni {
	font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
	font-size: 18px;
	text-align: center;
	padding-bottom: 64px;
	font-weight: 400;
	text-transform: uppercase;
	color: inherit;

}

.meni a {
	display: inline-block;
	margin: 0px 20px;
	color: inherit;
}

.prvi {
	  padding-right: 90px;
}
.drugi {
  padding: 0px 140px 0px 0px;
}
.tretji {
	  padding: 0px 0px 0px 0px;
}
.cetrti {
	 padding: 0px 0px 0px 0px;
}
.peti {
	padding-left: 0px;
}
/* END OF navbar two*/

.prvi1, .drugi1, .tretji1, .cetrti1, .peti1 {
	display: inline-block;
}


.portfolioWrapper{
	position: relative;
    overflow: hidden;
} 

.portfolioWrapper img{
  width: 100%;
  opacity: 1;
/*  -webkit-transform: scale(1,1);
*/  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  /*-moz-transform: scale(1,1);*/
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
}

.portfolioWrapper img:hover{
  /*opacity: .7;*/
  -webkit-transform: scale(1.05,1.07);
 /* -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 250ms;
  -moz-transform: scale(1.05,1.07);
  -moz-transition-timing-function: ease-out;
  -moz-transition-duration: 250ms;
  position: relative;
  z-index: 99;*/
}

.container h3 {
	text-align: center;
}

#option {
	text-align: center;
}

.proba {
	padding-right: 0px;
	padding-left: 0px;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.container-navigation {
	padding-top: 75px;
	padding-bottom: 64px;
}

.recipes-conteiner {
	background-color: #f6f6f6;
	margin-bottom: 25px;
}

/* cctooltip Bo*/

.cctooltip {
    color: white;
    font-style: italic;
    line-height: 20px;
    /*margin-top: 206px;*/
    opacity: 0;
    position: absolute;
    text-align: left;
    opacity: 1;
	-webkit-transition: all 1s ease-out 0.6s;
	-moz-transition: all 1s ease-out 0.6s;
	-o-transition: all 1s ease-out 0.6s;
	transition: all 1s ease-out 0.6s;
	bottom: 0px;	
}

.cctooltip h5 {
	 margin: 0px;
	 color: white;
     font-weight: normal;
	 font-size: 16px;
	 font-style: normal;
	 /*background: none repeat scroll 0 0 #9400D3;*/
	 padding: 3px;
	 line-height: 20px;
	 height: 26px;
	 text-transform: uppercase;
}

.recipes {
  background: none repeat scroll 0 0 #462800;
}

.health {
  background: none repeat scroll 0 0 #005ffc;
}

.active-life {
   background: none repeat scroll 0 0 #ff6035;
}

.recipes {
   background: none repeat scroll 0 0 #462800;
}

.make {
   background: none repeat scroll 0 0 #005ffe;
}

 /*end of cctooltip Box */


.text {
	padding: 20px 20px 20px 20px;
}

/*.row2 {
	background-color: #9400D3;	
}


.row {
	background-color: #008B8B;	
}

.col-md-4-active {
	background-color: #9400D3;
}

.col-md-4-makeyourown {
	background-color: #6495ED;
}
*/



 footer {
 	background-color: #f6f6f6;
 	padding-top: 40px;
 	padding-bottom: 40px;
 	font-weight: 400;
 	text-align: center;
 	border-top: 1px solid #eee;

 }

@media (max-width: 500px) {
    .meni a{
	display: block;
	margin: 0px 20px;
  }
}


